In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df

,CleanRainfall,CumDaily,CumHourly,CumYearly,DateData,DateTime,District,HeavyThresholdLevel,Latitude,LightThresholdLevel,...,RtuId,SeverityLevel,State,StationCode,StationId,SubBasin,TimeData,UpdatedBy,UpdatedDate,VeryHeavyThresholdLevel
0,0.0,6.5,0.5,863.5,23/2/2023,23/2/2023-8:45:00 PM,Sepang,60.0,2.691652,10.0,...,,No Rainfall,Selangor,AGROTEK,AGROTEKSEPANG,Sg. Sepang,20:45:00,ETL_Email,23/2/2023-9:00:23 PM,90.0
1,0.0,6.5,0.5,863.5,23/2/2023,23/2/2023-8:30:00 PM,Sepang,60.0,2.691652,10.0,...,NaN,No Rainfall,Selangor,AGROTEK,AGROTEKSEPANG,Sg. Sepang,20:30:00,ETL_Email,23/2/2023-8:50:30 PM,90.0
2,0.0,6.5,0.5,863.5,23/2/2023,23/2/2023-8:15:00 PM,Sepang,60.0,2.691652,10.0,...,NaN,No Rainfall,Selangor,AGROTEK,AGROTEKSEPANG,Sg. Sepang,20:15:00,ETL_Email,23/2/2023-8:35:27 PM,90.0
3,0.5,6.5,0.5,863.5,23/2/2023,23/2/2023-8:00:00 PM,Sepang,60.0,2.691652,10.0,...,NaN,No Rainfall,Selangor,AGROTEK,AGROTEKSEPANG,Sg. Sepang,20:00:00,ETL_Email,23/2/2023-8:20:31 PM,90.0
4,0.0,6.0,0.5,863.0,23/2/2023,23/2/2023-7:45:00 PM,Sepang,60.0,2.691652,10.0,...,NaN,No Rainfall,Selangor,AGROTEK,AGROTEKSEPANG,Sg. Sepang,19:45:00,ETL_Email,23/2/2023-8:05:27 PM,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9760,0.0,0.0,0.0,253.0,18/2/2023,18/2/2023-10:30:00 PM,Kuala Selangor,60.0,3.482524,10.0,...,NaN,No Rainfall,Selangor,IBUBKLSGTENGI,IBUBKLSGTENGI,Sg. Tengi,22:30:00,ETL_Email,18/2/2023-10:50:29 PM,90.0
9761,0.0,0.0,0.0,253.0,18/2/2023,18/2/2023-10:15:00 PM,Kuala Selangor,60.0,3.482524,10.0,...,NaN,No Rainfall,Selangor,IBUBKLSGTENGI,IBUBKLSGTENGI,Sg. Tengi,22:15:00,ETL_Email,18/2/2023-10:30:29 PM,90.0
9762,0.0,0.0,0.0,253.0,18/2/2023,18/2/2023-10:00:00 PM,Kuala Selangor,60.0,3.482524,10.0,...,NaN,No Rainfall,Selangor,IBUBKLSGTENGI,IBUBKLSGTENGI,Sg. Tengi,22:00:00,ETL_Email,18/2/2023-10:15:29 PM,90.0
9763,0.0,0.0,0.0,253.0,18/2/2023,18/2/2023-9:45:00 PM,Kuala Selangor,60.0,3.482524,10.0,...,NaN,No Rainfall,Selangor,IBUBKLSGTENGI,IBUBKLSGTENGI,Sg. Tengi,21:45:00,ETL_Email,18/2/2023-10:00:25 PM,90.0
9764,0.0,0.0,0.0,253.0,18/2/2023,18/2/2023-9:30:00 PM,Kuala Selangor,60.0,3.482524,10.0,...,NaN,No Rainfall,Selangor,IBUBKLSGTENGI,IBUBKLSGTENGI,Sg. Tengi,21:30:00,ETL_Email,18/2/2023-9:50:25 PM,90.0

In [5]:
df.columns

Index(['CleanRainfall', 'CumDaily', 'CumHourly', 'CumYearly', 'DateData',
       'DateTime', 'District', 'HeavyThresholdLevel', 'Latitude',
       'LightThresholdLevel', 'Longitude', 'MainBasin',
       'ModerateThresholdLevel', 'NewRainfallId', 'NewStationId',
       'OldRainfallId', 'OldStationId', 'RainfallStationName',
       'RainfallStatus', 'RawRainfall', 'RtuId', 'SeverityLevel', 'State',
       'StationCode', 'StationId', 'SubBasin', 'TimeData', 'UpdatedBy',
       'UpdatedDate', 'VeryHeavyThresholdLevel'],
      dtype='object')

In [9]:
df.StationId.unique()

array(['AGROTEKSEPANG', 'BLALANG', 'BGNNKOMAR', 'BTP', 'BATUARANG',
       '2813401_', '3117080_', '3717101_', '3018402_', '3114087_',
       'FDCSEKINCHAN', 'FELDAGEDANGSA', '3119104_', '25551',
       'IBUBKLSGTENGI'], dtype=object)